#box {
    width: 600px;
    height: 600px;
    background: deeppink;
}

#box>div:first-child {
    width: 200px;
    height: 200px;
    float: right;
    background: green;
}

#box>div:nth-child(2) {
    width: 200px;
    height: 200px;
    float: right;
    background: aqua;
}

#box>div:last-child {
    width: 300px;
    height: 500px;
    float: right;
    background: bisque;
}

span {
    height: 300px;
    width: 300px;
    background: brown;
    float: left;
}
